{% extends "base.html" %}
{% block head %}
<script type="text/javascript"
    src="http://maps.google.com/maps/api/js?sensor=false&key=AIzaSyCUNHf_NW-4AgJFFRI1KKK06U7FNz2JZYw"></script>
<style type="text/css">
    div#midpoint-canvas {
        display:none;
    }
</style>



<script>
    var addresses = {{ addresses|tojson|safe }}
    </script>




{% endblock %}
{% block body %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                meetUp
            </a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">Route from Address 1 to Midpoint</div>
                <div class="panel-body">
                    <div id="map-canvas1" style="width:100%;height:70%"></div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="directions-panel1" style="width:100%;height 70%"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">Route from Address 2 to Midpoint</div>
                <div class="panel-body">
                    <div id="map-canvas2" style="width:100%;height:70%"></div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="directions-panel2" style="width:100%;height 70%"></div>
                </div>
            </div>
        </div>
    </div>
    <!--<div id="directionsPanel" style="float:right;width:30%;height 100%"></div>-->
</div>
<div id="midpoint-canvas" style="float:left;width:70%; height:100%"></div>
<script src="../static/js/directions.js"></script>
{% endblock %}
