{% extends "base.html" %}
{% block head %}
<!--<script type="text/javascript"
    src="http://maps.google.com/maps/api/js?sensor=false&key=AIzaSyCUNHf_NW-4AgJFFRI1KKK06U7FNz2JZYw"></script>-->
    <script src="http://maps.google.com/maps/api/js?sensor=false&v=3.exp&libraries=places&signed_in=true&key=AIzaSyCUNHf_NW-4AgJFFRI1KKK06U7FNz2JZYw"></script>
<style type="text/css">
    div#midpoint-canvas {
        display:none;
    }
</style>
<script>
var a;
var map;
</script>
{% endblock %}
{% block body %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                meetUp
            </a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-info">
                <div class="panel-heading">Directions</div>
                <div class="panel-body">
                    <div id="map-canvas" style="width:100%;height:70%"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <button class="btn btn-info" id="display">Display nearby restaurants</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="panel" role="tabpanel">
                <ul class="nav nav-tabs" role="tablist" id="myTab">
                    <li role="presentation"><a aria-controls="route1" href="#route1" role="tab" data-toggle="tab">Your House to Midpoint</a></li>
                    <li role="presentation"><a href="#route2" role="tab" data-toggle="tab">Your Friend's House to Midpoint</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="route1"></div>
                    <div role="tabpanel" class="tab-pane" id="route2"></div>
                </div>
            </div>
        </div>

    </div>
    
<div id="midpoint-canvas" style="float:left;width:70%; height:100%"></div>
<input type="hidden" id="mLat">
<input type="hidden" id="mLong">
<script src="../static/js/directions.js"></script>
<script src="../static/js/places.js"></script>

{% endblock %}
