<html>
  <head>
    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUNHf_NW-4AgJFFRI1KKK06U7FNz2JZYw">
    </script>
  </head>
  <body>
<div id="map-canvas"></div>
  <!--
      <script type="text/javascript" src="../static/js/maps.js"></script>
      -->
   <script type="text/javascript" src="../static/js/search.js"></script>
  </body>
</html>
