{% extends "base.html" %}
{% block head %}

<script>
var meetups = {{ dates|tojson|safe }};
var App = new Marionette.Application();
var DatesCompositeView;
</script>

{% endblock %}
{% block body %}
<script type="text/template" id="date-template">
    <div class="panel panel-info">
      <div class="panel-heading"><%= addresses.address1%> to <%= addresses.address2%></div>
      <ul class="list-group">
        <li class="list-group-item">Restaurant: <%= restaurant.name%></li>
        <li class="list-group-item">Bakery: <%= bakery.name%></li>
        <li class="list-group-item">Event: <%= event.title%></li>
      </ul>
    </div>
</script>

<script type="text/template" id="meetups-template">
<ul id="meetup-list">
</ul>
</script>


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                meetUp
            </a>
        </div>
        <div class="collapse navbar-collapse" >
          {% if user %}
                <p class="navbar-text navbar-right">Signed in as {{ user }}</p>
        {% endif %}
        </div>
        
        
    </div>
</nav>
<div class="container">
  <div class="page-header">
  <h1>Your upcoming meetUps</h1>
</div>
	<div id="meetups-region"></div>
</div>
<script src="../static/js/dates.js"></script>
<script src="../static/js/meetups.js"></script>
{% endblock %}
