{% extends "base.html" %}
{% block head %}

<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUNHf_NW-4AgJFFRI1KKK06U7FNz2JZYw">
</script>

<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
<style>
  html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
  }
</style>
{% endblock %}
{% block body %}

<button  id="b" value="submit" class="btn btn-default">Search</button>
<script src="../static/js/gplaces.js">
<div id="map-canvas"></div></script>
{% endblock %} 


